@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.bg-sand {
    background-color: #f4ede3 !important;
    color: #000000 !important;
}

.text-sand {
    color: #f4ede3 !important;
}

.rounded-top-start {
    border-top-left-radius: var(--bs-border-radius);
}

.rounded-bottom-end {
    border-bottom-right-radius: var(--bs-border-radius);
}

body {
    font-family: "Poppins", sans-serif;
}

.pointer {
    cursor: pointer;
}

.text-pre-wrap {
    white-space: pre-wrap;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

.no-border-focus,
.no-border-focus:hover,
.no-border-focus:focus,
.no-border-focus:active {
    box-shadow: none !important;
    outline: none !important;
}

.btn-body {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
}

.btn-body:hover,
.btn-body:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-secondary-bg);
    border-color: var(--bs-border-color);
}

.btn-body:active,
.btn-body.active {
    color: var(--bs-body-bg);
    background-color: var(--bs-body-color);
    border-color: var(--bs-body-color);
}

.btn-body:disabled,
.btn-body.disabled {
    opacity: 0.65;
    pointer-events: none;
}

.btn-outline-body {
    color: var(--bs-body-color);
    border: 1px solid var(--bs-border-color);
    background-color: transparent;
}

.btn-outline-body:hover,
.btn-outline-body:focus {
    color: var(--bs-body-bg);
    background-color: var(--bs-body-color);
    border-color: var(--bs-body-color);
}

.btn-outline-body:active,
.btn-outline-body.active {
    color: var(--bs-body-bg);
    background-color: var(--bs-body-color);
    border-color: var(--bs-body-color);
}

.btn-outline-body:disabled,
.btn-outline-body.disabled {
    opacity: 0.65;
    pointer-events: none;
}

.noUi-target {
    border: 0;
    box-shadow: none;
    background: var(--bs-secondary-bg);
    height: 0.5rem;
    border-radius: var(--bs-border-radius-pill);
}

.noUi-connect {
    background: var(--bs-primary);
}

.noUi-horizontal {
    height: 0.5rem;
}

.noUi-horizontal .noUi-handle {
    width: 1.25rem;
    height: 1.25rem;
    right: -0.625rem;
    top: -0.375rem;

    border-radius: 50%;
    border: 2px solid var(--bs-primary);
    background: var(--bs-body-bg);

    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    cursor: pointer;
}

.noUi-handle::before,
.noUi-handle::after {
    display: none;
}

.noUi-touch-area {
    cursor: grab;
}

.noUi-active .noUi-touch-area {
    cursor: grabbing;
}

.noUi-horizontal {
    height: 0.375rem;
}

.noUi-target {
    background: var(--bs-border-color);
}

.noUi-connect {
    background: var(--bs-success);
}

.noUi-horizontal .noUi-handle {
    width: 1rem;
    height: 1rem;
    top: -0.3125rem;
    right: -0.5rem;
    border: 0;
    background: var(--bs-success);
    box-shadow: none;
}
